.navBarContent{
    background-color: crimson;
    grid-area: navbar;
    border-radius: 20px;
}

.navBarContent ul li{
    list-style-type: none;
}
.navBarContent ul li a{
    color: white;
    text-decoration: unset;
}

.activeLink h3{
    color: gold;
}