.post{
    display: grid;
    border: 2px solid gray;
    border-radius: 20px;
    margin-top: 3px;

    grid-template-columns: 50px 1fr;
    gap: 5px;
  }

.commentLogo{
    margin: 2px;
    width: 45px;
}
.like img{
    width: 20px;
}
