
.mainBox{
  display: grid;
 


  grid-template-areas: 
  "header header"
  "navbar routedcont";

  grid-template-rows: 70px 10fr;
  grid-template-columns: 2fr 10fr;

  gap: 10px;
}

.routedContent{
  grid-area: routedcont;
}