body {
  border-radius: 10px;
  border-width: 10px;
  display: flex;
  justify-content: center;
  margin: 55px;
  background-image: url('https://catherineasquithgallery.com/uploads/posts/2021-02/1614337633_92-p-kartinki-svetlii-fon-95.jpg');
}
